<div class="container">
  <h1>Here are all your bookings:</h1>
  
  <ul>
    <% @bookings.each do |booking| %>
    <li><%= booking.user.first_name %> <%= booking.user.id %></li>
    <li><%= booking.user.address %></li>
    <li><%= booking.car.make %></li>
    <li><%= booking.car.model %></li>
    <li><%= booking.car.year %></li>
    <li><%= booking.car.price %></li>
    <li><%= booking.car.user.first_name %></li>
      <li><%= booking.car.user.id %></li>

    <%= cl_image_tag(booking.car.photo.filename, :width=>300) %>
    <% end %>
  </ul>
  </li>
</div>
