<div class="container">
  <h3>Here are all your bookings for your cars:</h1>
  <ul>
    <%= current_user.cars.each do |car| %>
      <li><%= car.id %></li>
      <li><%= car.make %></li>
      <li><%= car.model %></li>
      <li><%= car.year %></li>
      <li><%= car.price %></li>
      <% car.bookings.each do |booking| %>
        <li>booking : <%= booking.id %>--<%= booking.user.first_name %></li>
      <% end %>
    <% end%>
  </ul>
</div>
<!-- update -->