<div class="container">
  <h1>Here are all your bookings for your cars:</h1>
  
  <ul>
    <% @bookings.each do |booking| %>
    <li><%= booking.user.first_name %> <%= booking.user.last_name %></li>
    <li><%= booking.user.address %></li>
    <li><%= booking.car.make %></li>
    <li><%= booking.car.model %></li>
    <li><%= booking.car.year %></li>
    <li><%= booking.car.price %></li>
    <%= cl_image_tag(booking.car.photo.filename, :width=>300) %>
    <% end %>
    <%= link_to "Reject", edit_car_path(@car)%>
  </ul>
  </li>
</div>
