<div class="banner-show-page">
  <div style="margin-bottom: 12px;">
    <h2>Search for your new car</h2>
    <%= form_tag(cars_path, method: :get) do %>
     <div class="where-text-field"> 
      <%= text_field_tag :address %>
      <%= submit_tag 'Search' %>
      <% end %>
      </div>
      <div class="form-wrapper" style="width: 400px; margin: 0 auto;">
        <h2>Choose Your Dates</h2>
        <%= simple_form_for :search, method: "get" do |f| %>
          <%= f.input :start_date, as: :string, required: false, input_html: {class: "datepicker"} %>
          <%= f.input :end_date, as: :string, required: false, input_html: {class: "datepicker"} %>
          <%= f.button :submit, "Go", class: "btn btn-primary" %>
        <% end %>
      </div>
  </div>
</div>



<div class="container">
<h4>Your local area's most popular cars:</h4>
  <div class="row">
    <% @cars.each do |car| %>
      <div class="col-xs-12 col-sm-4">
        <!-- insert <div class="card"> -->
        <% if car.photo? %>
        <% image_url = cl_image_path car.photo %>
          <% else %>
          <% image_url = "un" %>
        <% end %>
        <div class="card">
          <div class="card-image", url(<%= image_url %>);">
          </div>
          <div class="card-description">
            <p>This <%= car.make %> <%= car.model %> <%= car.year %> will be your best new friend on the road</p>
          </div>
          <div class="card-description">
            <p><strong><%= car.year %> AUD per day </strong></p>
          </div>
          <div class="card-user">
            <img class="card-user-image" src="https://kitt.lewagon.com/placeholder/users/random">
            <div class="card-user-description"><%= car.user.first_name %></div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class="container">
  <div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
  ></div>
</div>
