<div class="container">
  <h1><%= @user.first_name %>'s Car</h1>
  <div class="car-flex">
    <div class="car-image">
        <%= cl_image_tag @car.photo.filename, class: "" %>
    </div>
    <div class="right-side">
      <h2><%= @car.year %> <%= @car.make %> <%= @car.model %></h2><br><br><br><br>
      <p>$<%= @car.price %> p/d</p>
    </div>
  </div>
  <p class='booking-tool'><%= link_to "Book Now", booking_car_path(@car), class:'book-btn'%></p>
    <% if current_user == @car.user %>
      <%= link_to "Edit", edit_car_path(@car), class:'flex-tools'%>
      <%= link_to "Delete", car_path(@car), method: :delete, class:'flex-tools'%>
    <% end %>
      <%= link_to "Dashboard", rentyourcar_path, class:'flex-tools'%>
</div>
